*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(44, 44, 44);
}
.seccion1{
    text-align: center;
    background-color: beige;
}
.seccion1 h1{
    font-size: 60px;
    padding: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(imagenes/banner1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e9e9e9;
}
.seccion1 h2{
    font-size: 40px;
    padding-top: 30px;
    background-color: rgb(44, 44, 44);
    color: #e9e9e9;
} 
/* Footer */
footer{
    background-color: rgb(26, 26, 26);
    color:#e9e9e9;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    position:static;
    width: 100%;
    font-size:18px;
}
/* Barra de navegacion */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px;
    background-color: rgb(26, 26, 26);
    color: #e9e9e9;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 3;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-link {
    display: flex;
    align-items: center;
    color: #e9e9e9;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 20px;
}

.navbar-text {
    font-size: 24px;
    font-weight: bold;
}

.navbar-right {
    list-style: none;
    display: flex;
}

.navbar-right li {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-right a {
    color: #e9e9e9;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-right a:hover {
    color: #ff9800;
}
/*equipo*/

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 70px;
}

.member {
    background: #a7a7a7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 18rem;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    box-sizing: content-box;
}

.member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}
